<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Distintivo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/badge.css">
    <link rel="shortcut icon" href="../images/logoeasyvisit.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet">
</head>
<body>
    <section class="container">
        <section class="row">
            <section class="col">

                <center><section class="row">
                    <section class="col-lg-3"></section>
                    <section class="col-lg-6">
                        <h1>Gracias por registrarte</h1>
                    </section>
                    <section class="col-lg-3"></section>
                </section></center>

                <section class="row">
                    <section class="col">
                            <center><section class="row">
                            <section class="col-lg-4"></section>
                            <section class="col-lg-4">
                                <h3>Credencial de acceso</h3>
                            </section>
                            <section class="col-lg-4"></section>
                        </section></center>
                        <section class="row" id = "logo">
                                <section class="col-lg-2"></section>
                                <section class="col-lg-8">
                                    <center><img src="../images/default-user.png" alt="" id = "user"></center>
                                </section>
                                <section class="col-lg-2"></section>
                        </section>
                    </section>
                </section>

                <section class="row" id = "boton">
                    <section class="col-lg-5"></section>
                    <section class="col-lg-2">
                         <a href="../index.html">Finalizar</a> 
                    </section>
                    <section class="col-lg-5"></section>
                </section>

                <center><section class="row" id = "texto">
                    <section class="col">
                        <p>Tu anfitrión ha sido notificado de tu arrivo</p>
                        <p>Te encontrará en unos momentos</p>
                        <p>Por favor espera en el área de recepción</p>
                    </section>
                </section>
                </center>
            </section>
        </section>
    </section>
    <script src="../js/registro.js"></script>
</body>
</html>
