<!DOCTYPE >
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Admin-LogIn</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="shortcut icon" href="../images/logoeasyvisit.png">
</head>
<body>
    <div class="container">
        <div class="row">
            <h3>Bienvenidx Admin</h3>
            <div class="row">
              <div class="col-6">
                <center>
                  <img src="../images/logo.jpg" class="mx-auto d-block img-fluid"></center>
              </div>
            </div>
        </div>
        <section class="row">
            <section class="col-8">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" type="email" class="validate" required>
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password" type="password" class="validate" required>
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <a id="btn-loginaitor" class="waves-effect waves-light btn-large darken-1" style="background-color: #3a627d">Iniciar sesión</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </section>
    </div>
    <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="../js/firebase.js"></script>
</body>
</html>
